@import "tailwindcss";

/* Custom utility for animation */
@layer utilities {
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }
}

/* Keyframes */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* right side image styling */

@layer utilities {
  /* Slow spin */
  .animate-spin-slow {
    animation: spin 14s linear infinite;
  }

  /* Floating image */
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  /* Soft glow pulse */
  .animate-glow {
    animation: glow 3s ease-in-out infinite;
  }
}

/* Keyframes */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
}
/* card SECTION ANIMATION */
